/* Structure */
.user-table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 80vh;
  }
  
  .user-table-header {
    min-height: 64px;
    padding: 8px 24px 0;
    width:90%;
    background-color:#e63b37;
    border-radius: 5px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    color: white;
  }

  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }


 