<div class="user-table-container mat-elevation-z8">
  <div class="user-table-header center container">
      <!-- <img tabindex="0" id="csvlogo" alt="click to export as csv" src="../../../assets/downloadcsv.jpeg" style="float:left; cursor:pointer; max-height:40px"
      (click)="exportToExcel($event)"> -->
    <h4 style="color:white; font-weight:600">User Table</h4>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
     
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" style="width:95%; border-radius:5px" class="container">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- role Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> role </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" style="width:95%" class="container">
  </mat-paginator>
</div>