<footer class="blockquote-footer">
<div class="container" style="background-color:#303030;width: 100%">
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class=" media-icon-list" style=" color: #0075B6;">
                <h3 style="color: #00A2FA; font-weight: 700; ">Follow me on Social Media:</h3>
                <div class="media-icon-table-div col-sm-6 col-md-6 col-lg-3">
                    <a href="" target="_blank" rel="noopener" aria-label="linkedin link">
                        <div class="media-icon-list-item"><i class="fa fa-linkedin" aria-hidden="true" style="line-height: 48px; display: block; color:white"></i></div>
                    </a>
                </div>
                <div class="media-icon-table-div col-sm-6 col-md-6 col-lg-3">
                    <a href="" target="_blank" rel="noopener" aria-label="twitter link">
                        <div class="media-icon-list-item"><i class="fa fa-twitter" aria-hidden="true" style="line-height: 48px; display: block; color:white"></i></div>
                    </a>
                </div>
                <div class="media-icon-table-div col-sm-6 col-md-6 col-lg-3">
                    <a href="" target="_blank" rel="noopener" aria-label="facebook link">
                        <div class="media-icon-list-item"><i class="fa fa-facebook" aria-hidden="true" style="line-height: 48px; display: block; color:white"></i></div>
                    </a>
                </div>
                <div class="media-icon-table-div col-sm-6 col-md-6 col-lg-3">
                    <a href="" target="_blank" rel="noopener" aria-label="instagram link">
                        <div class="media-icon-list-item"><i class="fa fa-instagram" aria-hidden="true" style="line-height: 48px; display: block; color:white"></i></div>
                    </a>
                </div>
                
            </div>
        </div>


        <div class="col-sm-6 col-lg-6" >
            <h4  style="color: #00A2FA; font-weight: 700; ">Contact me</h4>
            <div style=" color: white;">
                <a href="www.google.com" style="color: #00A2FA">wangkl1991@gwu.edu</a>
            </div>
        </div>
      
    </div>

    <div class="row" >
        <div style="color: #999999; padding-left:49%">&copy; 2018 Kailun</div>
    </div>
</div>

</footer>
