#frontPage 
{
    background: url(../assets/img/WechatIMG13-min.png) no-repeat center center fixed;
    background-repeat: no-repeat;
background-size: cover;
background-position: center;
overflow: auto;
position: relative;
height: 100vh;
}


