

<div class="row">
    <div class="col-sm-8 col-lg-8"  style="border-right: 1px outset">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            <a [routerLink]="['/blog/blogdetail']" style="color:black">
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                  </a>
      
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    
    <div class="col-sm-4 col-lg-4" style="border-bottom:1px outset">
      <div>
      <mat-selection-list #blog>
        <mat-list-option *ngFor="let blog of typesOfBlogs">
          {{blog}}
        </mat-list-option>
      </mat-selection-list>
      
      <!-- <p>
        Options selected: {{blog.selectedOptions.selected.length}}
      </p> -->
      </div>

      <div>

      </div>

    </div>
</div>