
<div class="container">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" height="286px" width="180px" src="https://c.s-microsoft.com/en-us/CMSImages/Image_ProjectIgnite_509x190.jpg?version=5ee5f592-37f8-4790-133e-3cb200f6d2c3" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Blog title</h5>
          <p class="card-text">This blog's content is the first paragraph</p>
          <a [routerLink]="['/blog/blogdetail']"  class="btn btn-primary">See the detail</a>
        </div>
      </div>
    
  </div>
  

<router-outlet></router-outlet>
