<div class="side-bar-content">
  <img class="side-bar-logo" src="/assets/img/angular2-logo-red.png" />
  <span class="side-bar-title">Admin Dashboard</span>
  <div id="line1"></div>
  
  <div class="nav-container">
      <ul class="nav">
          <li routerLinkActive="active-link" *ngFor="let menuItem of menuItems"  style="margin-top:20px">
              <a  [routerLink]="[menuItem.path]" class="row" style="color:#3c4858; font-weight:normal">
                  <i class="{{menuItem.class}}" style=" font-size:20px; padding-left:10px"><span style="padding-left: 20px; font-weight:500;" >{{menuItem.title}}</span></i>
              </a>
          </li>
      </ul>
  </div>
  
  
  

</div>